<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <title>Document</title>



</head>

<body>
    <div class="container">
        <h1><%= title %></h1>
        <a href="/add" class="btn btn-sm btn-success">Add User</a> <br> <br>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>NomComplet</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){%>

                <tr>
                    <td><%=user.nomcomplet %></td>
                    <td><%=user.email %></td>
                    <td><%=user.tel %></td>
                    <td>
                        <a href="edite/<%=user.id%>" class="btn btn-sm btn-primary">Edit</a>
                        <a href="delete/<%=user.id%>" class="btn btn-sm btn-danger">delete</a>
                    </td>


                </tr>
                <%});%>
            </tbody>

        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>